In [56]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [57]:
data_file = '../Resources/Food_Production_Renamed.csv'

In [103]:
data = pd.read_csv(data_file, low_memory = False)

In [104]:
print(data.columns)

Index(['Food product', 'Land use change', 'Animal Feed', 'Farm', 'Processing',
       'Transport', 'Packging', 'Retail', 'Total_emissions',
       'Eutrophying emissions per 1000kcal',
       'Eutrophying emissions per kilogram ',
       'Eutrophying emissions per 100g protein ',
       'Freshwater withdrawals per 1000kcal ',
       'Freshwater withdrawals per 100g protein ',
       'Freshwater withdrawals per kilogram ',
       'Greenhouse gas emissions per 1000kcal ',
       'Greenhouse gas emissions per 100g protein ', 'Land use per 1000kcal ',
       'Land use per kilogram ', 'Land use per 100g protein ',
       'Scarcity-weighted water use per kilogram ',
       'Scarcity-weighted water use per 100g protein ',
       'Scarcity-weighted water use per 1000kcal '],
      dtype='object')

## Supply Chain

In [83]:
#supply chain dataframe
sc_df = pd.DataFrame(data[['Food product', 'Land use change', 'Animal Feed', 'Farm', 
                           'Processing', 'Transport', 'Packging', 'Retail', 'Total_emissions' ]])
sc_df.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0

In [98]:
#determine overall emissions per supply chain 
sc_sum = sc_df.sum()
sc_sum

Food product       Wheat & Rye (Bread)Maize (Meal)Barley (Beer)Oa...
Land use change                                                 54.2
Animal Feed                                                     19.5
Farm                                                           149.2
Processing                                                      10.9
Transport                                                        8.4
Packging                                                        11.6
Retail                                                             3
Total_emissions                                                256.8
dtype: object

## Eutrophying Emissions

In [85]:
#eutrophying emissions dataframe
ee_df = pd.DataFrame(data[['Food product','Eutrophying emissions per 1000kcal',
       'Eutrophying emissions per kilogram ',
       'Eutrophying emissions per 100g protein ']])

In [99]:
# View the first five rows of data
ee_df.head()

,Food product,Eutrophying emissions per 1000kcal,Eutrophying emissions per kilogram,Eutrophying emissions per 100g protein
0,Wheat & Rye (Bread),NaN,NaN,NaN
1,Maize (Meal),NaN,NaN,NaN
2,Barley (Beer),NaN,NaN,NaN
3,Oatmeal,4.281357,11.23,8.638462
4,Rice,9.514379,35.07,49.394366

In [105]:
# Drop null values
dropped_ee = ee_df.dropna()
dropped_ee.head(10)

,Food product,Eutrophying emissions per 1000kcal,Eutrophying emissions per kilogram,Eutrophying emissions per 100g protein
3,Oatmeal,4.281357,11.23,8.638462
4,Rice,9.514379,35.07,49.394366
5,Potatoes,4.754098,3.48,20.470588
6,Cassava,0.708419,0.69,7.666667
9,Other Pulses,5.008798,17.08,7.977581
10,Peas,2.173410,7.52,3.384338
11,Nuts,3.113821,19.15,11.726883
12,Groundnuts,2.437931,14.14,5.401070
20,Tomatoes,39.526316,7.51,68.272727
21,Onions & Leeks,8.756757,3.24,24.923077

In [ ]:
#Determine which foods are the highest and which are the lowest in each category

## Freshwater Withdrawals

In [ ]:
#Determine which foods are the highest and which are the lowest in each category

## Greenhouse Gas Emissions

In [ ]:
#Determine which foods are the highest and which are the lowest in each category

## Land Use

In [ ]:
#Determine which foods are the highest and which are the lowest in each category

## Scarcity-Weighted Water

In [ ]:
#Determine which foods are the highest and which are the lowest in each category