In [4]:
import pandas as pd
from pandas import Series, DataFrame
import json
import csv

## YourLibrary

In [5]:
# open provided JSON file
with open ('YourLibrary.json') as json_file:
    data = json.load(json_file)

In [6]:
jen_library = data['tracks']

In [7]:
jenlibrary_csv = open('jenlibrary.csv', 'w')

In [8]:
csv_writer = csv.writer(jenlibrary_csv)

In [9]:
count = 0

In [10]:
for tracks in jen_library:
    if count == 0:
        header = tracks.keys()
        csv_writer.writerow(header)
        count += 1
    csv_writer.writerow(tracks.values())
    
jenlibrary_csv.close()

In [11]:
csv_path = 'jenlibrary.csv'

In [12]:
jl_df = pd.read_csv(csv_path)

In [13]:
jl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  454 non-null    object
 1   album   454 non-null    object
 2   track   454 non-null    object
dtypes: object(3)
memory usage: 10.8+ KB

In [14]:
jl_df.head()

,artist,album,track
0,Mitski,Bury Me At Makeout Creek,I Will
1,Tori Amos,The Light Princess,Coronation
2,Björk,Vulnicura Strings (Vulnicura: The Acoustic Ver...,Family
3,The Family Party Song Singers,Let's Celebrate the Day of Your Birth!,Happy Birthday Jen
4,Jidenna,The Let Out (feat. Quavo),The Let Out (feat. Quavo)

In [15]:
unique_artist_df = len((jl_df['artist']).unique())
unique_artist_df

85

# Follow

In [53]:
# create a Series from the JSON dictionary

jen_artists = pd.DataFrame(["Angel Haze",
    "Ani DiFranco",
    "Beyoncé",
    "Björk",
    "Braid",
    "Ciara",
    "Coconut Records",
    "David Byrne",
    "Destiny's Child",
    "Elliott Smith",
    "Erykah Badu",
    "FKA twigs",
    "Fiona Apple",
    "First Aid Kit",
    "Florence + The Machine",
    "Foxing",
    "Girlpool",
    "Glass Animals",
    "Handsome Boy Modeling School",
    "Immortal Technique",
    "KOLARS",
    "Kelly Howell",
    "Kid Sister",
    "Los Zafiros",
    "Madame Gandhi",
    "Maliibu N Helene",
    "Marian Hill",
    "Ms. Lauryn Hill",
    "Murder By Death",
    "Peggy Sue",
    "Sarah Silverman",
    "Sean Ono Lennon",
    "Shenandoah Davis",
    "Stevie Ray Vaughan",
    "Tacocat",
    "The Blow",
    "The Rural Alberta Advantage",
    "Wye Oak",
    "iAmMoshow"])

In [54]:
jen_artists.head()

              0
0    Angel Haze
1  Ani DiFranco
2       Beyoncé
3         Björk
4         Braid

In [55]:
len(jen_artists)

39

In [56]:
artists.nunique()

39

In [57]:
# Return alias for index
jen_artists.keys()

RangeIndex(start=0, stop=1, step=1)

In [58]:
# jen_artists.keys #no parentheses behind keys - result varies

In [66]:
liz_artists = pd.DataFrame([
    "2 Chainz",
    "9th Wonder",
    "A$AP Ferg",
    "Aaron Lacrate",
    "Ab-Soul",
    "Action Bronson",
    "Agent Orange",
    "Atmosphere",
    "Awon",
    "Baby Baby",
    "Bay Ledges",
    "Beck",
    "Benoit & Sergio",
    "Beth Hart",
    "Big Freedia",
    "Big K.R.I.T.",
    "Big Wild",
    "Billy Vaughn",
    "Black Hippy",
    "Black Milk",
    "Black Sheep",
    "Black Star",
    "Boogie Down Productions",
    "Brillz",
    "Buena Vista Social Club",
    "Buzzcocks",
    "Camp Lo",
    "Canned Heat",
    "Charlotte Dos Santos",
    "Chris Brown",
    "Chuck Berry",
    "Club des Belugas",
    "Cunninlynguists",
    "Cyanca",
    "DJ Premier",
    "Danny Brown",
    "Del The Funky Homosapien",
    "Dimitri Vegas & Like Mike",
    "Diplo",
    "Diplo feat. Nicky Da B",
    "Dirty Honkers",
    "Dirty Projectors",
    "Disclosure",
    "Dusty Springfield",
    "EARTHGANG",
    "Eddie 9V",
    "El-P",
    "Elzhi",
    "Eric B. & Rakim",
    "Freddie Gibbs",
    "Georges Prêtre",
    "Ghostface Killah",
    "Goodie Mob",
    "Has-Lo",
    "Isaiah Rashad",
    "J-Live",
    "Jay Electronica",
    "Jaylib",
    "Jean-Paul Vauquelin",
    "Juana Molina",
    "Jurassic 5",
    "Kadhja Bonet",
    "Kairo Kingdom",
    "Kanye West",
    "Kendrick Lamar",
    "Kev Brown",
    "Khruangbin",
    "Kid Cudi",
    "King Khan and the Shrines",
    "King Krule",
    "Kool Keith",
    "L'Orange",
    "LCD Soundsystem",
    "LL Cool J",
    "Led Zeppelin",
    "Leon Bridges",
    "London Philharmonic Orchestra",
    "Los Tigres Del Norte",
    "Los Zafiros",
    "Louis XIV",
    "Mac Miller",
    "Madlib",
    "Master P",
    "Micachu & The Shapes",
    "Mickey Avalon",
    "Miike Snow",
    "Minor Threat",
    "Missy Elliott",
    "Monguito \"El Único\" Santamaría",
    "Mr. Oizo",
    "Neil Young",
    "Night Beats",
    "Ol' Dirty Bastard",
    "Paul Simon",
    "Peanut Butter Wolf",
    "Peggy Gou",
    "Plastic Little",
    "Pretty Lights",
    "Quasimoto",
    "Rancid",
    "Rappin' 4-Tay",
    "Roman GianArthur",
    "Sallie Ford & The Sound Outside",
    "Scott H. Biram",
    "Serena Isioma",
    "Sharon Jones & The Dap-Kings",
    "Soom T",
    "Spank Rock",
    "T. Rex",
    "Talking Heads",
    "Tank and The Bangas",
    "Tanlines",
    "The Aikiu",
    "The Cave Singers",
    "The Clash",
    "The Coasters",
    "The Coathangers",
    "The Cool Kids",
    "The Cult",
    "The Dead Milkmen",
    "The Doppelgangaz",
    "The Electric Swing Circus",
    "The Herbaliser",
    "The King Khan & BBQ Show",
    "The Libertines",
    "The Orchestra of the Khmer Classical Dance Troupe",
    "The Paradise Bangkok Molam International Band",
    "The Roots",
    "The Stone Roses",
    "Thievery Corporation",
    "Thunderheist",
    "Tiff the Gift",
    "Trick Daddy",
    "Ty Segall",
    "Tyler, The Creator",
    "UNKLE",
    "Unknown Mortal Orchestra",
    "Wale",
    "Walter Gieseking",
    "War",
    "Weyes Blood",
    "Willy Joy",
    "Yeah Yeah Yeahs",
    "Yelawolf",
    "Yol Aularong",
    "boylife"])

liz_artists

                   0
0           2 Chainz
1         9th Wonder
2          A$AP Ferg
3      Aaron Lacrate
4            Ab-Soul
..               ...
141        Willy Joy
142  Yeah Yeah Yeahs
143         Yelawolf
144     Yol Aularong
145          boylife

[146 rows x 1 columns]

In [60]:
len(liz_artists)

146

In [67]:
rob_artists = pd.DataFrame([
    "Abram Shook",
    "Actual Magic",
    "Alabaster DePlume",
    "Alex Ebert",
    "Anderson .Paak",
    "Andy Shauf",
    "Astronauts, etc.",
    "BADBADNOTGOOD",
    "Bardo Martinez",
    "Beirut",
    "Bells Atlas",
    "Bibio",
    "Blockhead",
    "Blue Material",
    "Bobby Oroza",
    "Bonobo",
    "Brainstory",
    "Brendan Eder Ensemble",
    "Chaz Bundick Meets The Mattson 2",
    "Chicano Batman",
    "Chris Bear",
    "Chrome Sparks",
    "Cotton Jones",
    "Cristobal And The Sea",
    "Dirty Art Club",
    "Elder Island",
    "Family Time",
    "Fantasy Guys",
    "Febueder",
    "Felbm",
    "Fleet Foxes",
    "Freddie Joachim",
    "Ginger Root",
    "Girls",
    "Gold Celeste",
    "Holy Hive",
    "JAY-Z",
    "Jerry Paper",
    "Jitwam",
    "Joey Dosik",
    "John Mayer",
    "John Wizards",
    "Joon Moon",
    "Kadhja Bonet",
    "Kelly Finnigan",
    "Kendrick Lamar",
    "Kikagaku Moyo",
    "King Gizzard & The Lizard Wizard",
    "Kings of Convenience",
    "Kurt Vile",
    "Little Tybee",
    "M. Ward",
    "MGMT",
    "Makaya McCraven",
    "Mesquite",
    "Michael Nau",
    "Mick Jenkins",
    "Mocky",
    "Monster Rally",
    "Mr Twin Sister",
    "N.E.R.D",
    "Nick Hakim",
    "Nick Waterhouse",
    "Noya Rao",
    "Okonkolo",
    "Oracle Sisters",
    "Palace",
    "Pharrell Williams",
    "Pink Siifu",
    "Portico Quartet",
    "Pusha T",
    "Real Estate",
    "Redspencer",
    "Run The Jewels",
    "SZA",
    "SiR",
    "Simpson",
    "Skinshape",
    "Sly5thAve",
    "Stan Getz",
    "Syd",
    "The Antlers",
    "The Cactus Channel",
    "The Decemberists",
    "The Flying Stars Of Brooklyn NY",
    "The Internet",
    "The Olympians",
    "The Sha La Das",
    "Thundercat",
    "Tony Peppers",
    "Toro y Moi",
    "Travis Scott",
    "Vanilla",
    "Vetiver",
    "Washed Out",
    "Wild Beasts",
    "Wild Nothing",
    "Wilma Archer",
    "Woods",
    "bLAck pARty",
    "emune",
    "h hunt"])

rob_artists

                     0
0          Abram Shook
1         Actual Magic
2    Alabaster DePlume
3           Alex Ebert
4       Anderson .Paak
..                 ...
97        Wilma Archer
98               Woods
99         bLAck pARty
100              emune
101             h hunt

[102 rows x 1 columns]

In [62]:
len(rob_artists)

102

In [63]:
jen_artists.equals(liz_artists)

False

In [52]:
print("\nCompare the elements of the two given Series:") 
print("\nEqual:") 
print(jen_artists == liz_artists) 
print("\nNot Equal:") 
print(jen_artists != liz_artists)

Compare the elements of the two given Series:

Equal:

ValueError: Can only compare identically-labeled Series objects

In [68]:
combo_df=jen_artists.merge(liz_artists,)

KeyError: 'G'